body 
  {
    background-color
  }
h1 
  {
    color:Black
  }
h2
  {
    color: black
  }
p
  {
    color:black
  }

a
  {
    color:Blue
  }

footer {
  position: fixed;
  left: 0;
  bottom: 10;
  width: 100%;
  color: Black;
  text-align: center;
  align-items: center;
  font-family: "Courier New", monospace;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

h1.dark-mode, h2.dark-mode, p.dark-mode, a.dark-mode {
  color: #ffffff;
}

footer.dark-mode {
  color: #ffffff;
}