body {
  background-color: Black;
}

h1 {
  text-align: center;
  color: rgb(0, 255, 34);
  font-size: 40pt;
  filter: drop-shadow(0px 0px 5px #00ff0d);
  -webkit-text-stroke: 2px black;
  font-family: "Courier New", monospace;
}

h2 {
  text-align: center;
  color: rgba(0, 255, 34, 0.986);
  font-size: 20pt;
  filter: drop-shadow(0px 0px 5px #00ff0d);
  font-family: "Courier New", monospace;
}

h3 {
  text-align: left;
  color: rgba(0, 255, 34, 0.986);
  font-size: 12pt;
  filter: drop-shadow(0px 0px 5px #00ff0d);
  font-family: "Courier New", monospace;
}

p {
  text-align: left;
  text-decoration: underline;
  color: rgba(0, 255, 34, 0.986);
  font-size: 20pt;
  font-weight: bold;
  filter: drop-shadow(0px 0px 4px #00ff0d);
  font-family: "Courier New", monospace;
}

a {
  text-align: left;
  text-indent: 50px;
  color: red;
  font-size: 15pt;
  font-family: "Courier New", monospace;
  font-weight: 400;
  filter: drop-shadow(0px 0px 6px red);
}

iframe{
  display:block;
  width: 75%; 
  height: 65%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  display:block;
  position: fixed;
  z-index: -1;
  filter: hue-rotate(90deg);
  background-attachment: fixed;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(123, 255, 0);
  text-align: center;
  font-family: "Courier New", monospace;
}