body {
  background-color: Black;
}

h1 {
  text-align: center;
  color: rgb(0, 255, 34);
  font-size: 40pt;
}

h2 {
  text-align: left;
  color: rgba(0, 255, 34, 0.986);
  font-size: 20pt;
}

p {
  text-align: left;
  text-decoration: underline;
  color: rgba(0, 255, 34, 0.986);
  font-size: 20pt;
}

a {
  text-align: left;
  margin-left: 20px;
  color: red;
  font-size: 15pt;
}

iframe{
  display:block; 
  width: 75%; 
  height: 75%;
  margin-left: auto;
  margin-right: auto;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  display:block;
  position: absolute;
  z-index: -1;
  filter: hue-rotate(90deg);
}